
/* 1. Mobile*/

.box-container {
    display: flex;
    
    flex-direction: column; 
    gap: 15px;
    padding: 20px;
    background-color: #f4f4f9;
}

.box {
    background-color: #007bff;
    color: white;
    padding: 40px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 8px;

    width: 100%; 
}

/* 2. Tablet  */

@media (min-width: 600px) {
    .box-container {
        
        flex-direction: row;
        
        flex-wrap: wrap; 
        justify-content: space-around;
    }

    .box {
        
        flex-basis: calc(50% - 15px); 
        
        background-color: #28a745; 
    }
    

    .box:nth-child(3) {
        flex-basis: 100%;
    }
}


 
/* 3. Desktop */
@media (min-width: 1024px) {
    .box-container {
        
        flex-wrap: nowrap; 
        justify-content: space-between;
    }

    .box {
        
        flex-basis: calc(33.333% - 15px);
        background-color: #ffc107;
    }

    
    .box:nth-child(3) {
        flex-basis: calc(33.333% - 15px);
    }
}